#browserCompatibilityTable tr th{
    padding: 0px;
}

#browserCompatibilityTable th img{
    background: none;
    border: none;
    box-shadow: none;
    display: block;
    margin: 0px auto 5px;
}

#browserCompatibilityTable tr td{
    font-size: 25px;
    text-align: center;
}

#browserCompatibilityList li{
    font-size: 25px;
}

#browserCompatibilityRef{
    font-size: 25px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.purple{
    background-color: #d800ff;
}

.playground{
    flex-shrink: 0;
    background-color: white;
    height: 550px;
    width: 550px;
}

.big{
    width: 200px;
    height: 200px;
}

.medium{
    width: 150px;
    height: 150px;
}

.small{
    width: 100px;
    height: 100px;
}

.cssInput{
    font-size: 20px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.commandList{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row wrap;
}

.commandList div{
    font-size: 15px;
    margin: 3px;
    padding: 2px;
    background-color: #3a3a33;
    color: white;
    cursor: pointer;
}

.popupAttributeInfo {
    display: none;
    position: absolute;
    padding: 0px;
    background: #ffff00;
    color: #000000;
    border: 1px solid #1a1a1a;
    font-size: 100%;
}

.popupAttributeInfo img {
    width: 270px;
}

.addBox{
    cursor: pointer;
}

#cssLogo{
    background: none;
    border: none;
    box-shadow: none;
    display: block;
    margin: 0px;
    width: 150px;
    height: 150px;
}

#cssCode{
    box-shadow:none;
    flex-basis: 300px;
    margin: 0px;
}
