<section data-markdown data-separator-notes="^Note:">
    ### Reactive Programming in java

    Note:
        domande generiche
</section>
<section data-markdown data-separator-notes="^Note:">
    ## What is Reactive programming? 

    > Reactive programming is programming with asynchronous data streams.

    Note: 
        Il reactive programming è un "nuovo" paradigma che si basa sulle logiche dell'observer pattern,
        è quindi un paradigma event driven in cui il programma risponde ad eventi esterni in maniera asincrona e non bloccante. 

        Il motivo per cui questo paradigma sta prendendo piede è perchè le architetture su cui gira il nostro software stanno cambiando - per esempio cloud / serverless - , e la crescita delle infrastrutture richiedono un approccio diverso ai nuovi problemi o ai nuovi requisiti richiesti
</section>
<section data-separator-notes="^Note:">
    <h2>Reactive Manifesto</h2>
    <img data-src="http://www.reactivemanifesto.org/images/reactive-traits.svg">
<!--
        Resiliente: in caso di criticità non schianta male.
        Elastic: Scalabilità automatica in caso di heavy load
        Responsive: Risponde in maniera immediata agli eventi
        Event-driven: Natura intriseca del paradigma
        -->
</section>
<section data-markdown data-separator-notes="^Note:">
    ## Reactive way

    * Reactive programming is all about data-flow
    * Think in terms of **streams** and events
    * React to events and define behaviors combining them
    * Keep your data/events immutable

    Note:
        Programare in reactive significa processare una serie di eventi che arrivano da uno o più stream in maniera asincrona.
        Per programmare in reactive dobbiamo iniziare a pensare alle nostre applicazioni come uno stream di dati, e, per molte applicazioni viene naturale farlo. Per esempio una libreria grafica, o se pensiamo al nostro caso una naturale adozione del reactive potrebbe essere durante un importazione.  addirittura al tempo,
</section>
<section data-markdown data-separator-notes="^Note:">
    ## Streams are not collection

    Note:
        Panta rhei: Non ci si puo' bagnare due volte nello stesso fiume
</section>
<section>
    <section data-markdown>
        ## Java 9 Flow API
        ```Java
        @FunctionalInterface
        public interface Publisher&lt;T&gt; {
        void subscribe(Subscriber&lt;? super T&gt; s;
        }
        ```
        ```Java
        public interface Subscriber&lt;T&gt; {
        void onSubscribe(Subscription s);
        void onNext(T t);
        void onError(Throwable t);
        void onComplete();
        }
        ```
        ```Java
        public interface Subscription {
        void request(long n);
        void cancel();
        }
        ```
        ```Java
        public interface Processor&lt;T, R&gt; extends Subscriber&lt;T&gt;, Publisher&lt;R&gt; {
        }
        ```
    </section>
    <section>
        <img src="images/rx1.png">
    </section>
    <section data-markdown>
        ### Implementations

        * Akka Streams
        * Reactor 
        * **RxJava2**
        * Ratpack
        * Vert.x
    </section>
</section>
<section>
    <section data-markdown>
        ## RxJava2 Primitives

        - Flowable: 0..N flows, supporting Reactive-Streams and backpressure
        - Observable: 0..N flows, no backpressure
        - Single: a flow of exactly 1 item or an error
        - Completable: a flow without items but only a completion or error signal
        - Maybe: a flow with no items, exactly one item or an error
    </section>
</section>
<section data-background-iframe="http://rxmarbles.com/" data-background-interactive>
</section>
<section data-background="http://i.imgur.com/qp3jo3H.jpg">
</section>
<section>
    <section data-markdown>
        ## One last thing
    </section>
    <section data-markdown>
        ## CompleteableFuture
    </section>
    <section data-markdown>
        * Already in java8
        * Forget about callback hell
        * Fluent api
        * **Asynchronous**
    </section>
    <section>
        <h2>Callback hell</h2>
        <img src="https://www.twilio.com/blog/wp-content/uploads/2017/03/Screen-Shot-2017-03-06-at-5.11.06-PM.png">
    </section>
    <section>
        <h1>Example</h1>
        <img src="images/cf1.png">
    </section>
    <section>
        <h1>The API</h1>
        <img src="images/cf2.png">
    </section>
    <section>
        <img src="images/cf3.png">
    </section>
</section>


<section data-markdown>
    ## Questions?
</section>
