<section>
    <section data-markdown
             data-background-color="rgb(255, 215, 69)"
             data-separator-notes="^Note:">
        <h3>Prima e dopo Flexbox</h3>
    </section>
    <section
             data-background-color="rgb(255, 215, 69)"
             data-separator-notes="^Note:">
        <div style="display: flex; align-items: center; justify-content: space-evenly;">
            <img src="images/cssLogo.svg" id="cssLogo">
            <pre id="cssCode"><code data-trim data-noescape>
                .container {
                    display: flex;
                }
            </code></pre>
        </div>

        <img src="images/flexboxintro.png" >
        <aside class="notes">
            Questo mini talk parla di FlexBox, uno <b>strumento "moderno" che ci permette di fare layout</b>.
            Ha anche l'obiettivo di far percepire quali <b>vantaggi</b> si hanno con flexbox e quali <b>problematiche</b> ci permette di risolvere.

            L'idea che stà alla base di FlexBox è quella di avere un <b>contenitore che riesce a gestire</b>, allineare e renderizzare <b>oggetti</b> anche quando le loro dimensioni sono <b>flessibili</b>, proprio da questo deriva la parola "Flex"
            Il container è in grado di alterare le proprietà di with/height degli elementi contenuti, di rimpicciolirli ed espanderli in modo da potersi adattare a diverse dimensioni di schermi.
            Una delle sue caratteristiche è quella di essere <b>direction-agnostic</b> diversamente dagli altri tipi di layout: (<b>block verticale</b> ed <b>inline orizzontale</b>).

            L'ultilizzo di flexbox è incoraggiato per risolvere problemi specifici, mentre il layout di tipo grid per layout di maggiori dimensioni e più strutturati.
        </aside>
    </section>
    <section data-background-color="rgb(255, 215, 69)" data-separator-notes="^Note:">
        <div style="display: flex; align-items:center">
            <div style="display: flex; flex-direction:column; padding-right: 20px;">
                <div>Container CSS</div>
                <textarea id="containerBoxInput" class="cssInput" rows="7" cols="25" oninput="updateCssContainer('containerBoxInput','playground')"></textarea>
                <div class="commandList">
                    <div onclick="showAttributesInfo('flex-direction');">flex-direction</div>
                    <div onclick="showAttributesInfo('flex-wrap');">flex-wrap</div>
                    <div onclick="showAttributesInfo('flex-flow');">flex-flow</div>
                    <div onclick="showAttributesInfo('justify-content');">justify-content</div>
                    <div onclick="showAttributesInfo('align-items');">align-items</div>
                    <div onclick="showAttributesInfo('align-content');">align-content</div>
                </div>
                <div>Item 2 CSS</div>
                <textarea id="elementBoxInput" class="cssInput" rows="7" cols="25" oninput="updateCssContainer('elementBoxInput','blue')"></textarea>
                <div class="commandList">
                    <div onclick="showAttributesInfo('order');">order</div>
                    <div onclick="showAttributesInfo('flex-grow');">flex-grow</div>
                    <div onclick="showAttributesInfo('flex-shrink');">flex-shrink</div>
                    <div onclick="showAttributesInfo('flex-basis');">flex-basis</div>
                    <div onclick="showAttributesInfo('flex');">flex</div>
                    <div onclick="showAttributesInfo('align-self');">align-self</div>
                </div>
            </div>
            <div class="playground dynamicCss">
                <div class="big red box">1</div>
                <div class="small blue box">2</div>
                <div class="medium green box">3</div>
                <div class="big purple box" style="display: none">4</div>
            </div>
        </div>
        <img id="addBox" src="images/addBox.png" onclick="toggleBox4()">

        <div id="flex-direction" class="popupAttributeInfo" title="flex-direction">
            <img src="images/flex-direction2.svg">
            <p>Specifica la direzione dell’asse principale (main axis) su cui si dispongono i box flessibili nel contenitore.</p>
            <ul style="font-size: 13px">
                <li><b>row</b> (default)</li>
                <li><b>row-reverse</b></li>
                <li><b>column</b></li>
                <li><b>column-reverse</b></li>
            </ul>
        </div>
        <div id="flex-wrap" class="popupAttributeInfo" title="flex-wrap">
            <img src="images/flex-wrap.svg">
            <p>Specifica se i box all’interno del contenitore si dispongono su una riga o su più righe in base allo spazio disponbile;</p>
            <ul style="font-size: 13px">
                <li><b>nowrap</b> (default) </li>
                <li><b>wrap</b></li>
                <li><b>wrap-reverse</b></li>
            </ul>
        </div>
        <div id="flex-flow" class="popupAttributeInfo" title="flex-flow">
            <p>E' una proprietà a sintassi abbreviata con cui esprimere insieme i valori per <b>flex-direction</b> e <b>flex-wrap</b>. Il default è row nowrap.</p>
        </div>
        <div id="justify-content" class="popupAttributeInfo" title="justify-content">
            <img src="images/justify-content-2.svg">
            <p>Stabilisce la modalità di allineamento dei box flessibili sull’asse principale del contenitore.</p>
        </div>
        <div id="align-items" class="popupAttributeInfo" title="align-items">
            <img src="images/align-items.svg">
            <p>Gestisce l’allineamento dei box flessibili lungo l’asse perpendicolare (cross axis) all’asse principale.</p>
        </div>
        <div id="align-content" class="popupAttributeInfo" title="align-content">
            <img src="images/align-content.svg">
            <p>Gestisce l’allineamento di una riga di box flessibili lungo l’asse perpendicolare; ha effetto solo su contenitori multi-riga.</p>
        </div>
        <div id="order" class="popupAttributeInfo" title="order">
            <img src="images/order-2.svg">
            <p>Sspecifica l’ordine in cui viene mostrato un box rispetto agli altri definiti nel contenitore.</p>
        </div>
        <div id="flex-grow" class="popupAttributeInfo" title="flex-grow">
            <img src="images/flex-grow.svg">
            <p>Cconsente di impostare il fattore di ingrandimento di un box rispetto agli altri presenti nel contenitore quando si distribuisce lo spazio disponbile.</p>
        </div>
        <div id="flex-shrink" class="popupAttributeInfo" title="flex-shrink">
            <p>E' la proprietà opposta rispetto a flex-grow, dal momento che agisce sul fattore di restringimento relativo tra i box.</p>
        </div>
        <div id="flex-basis" class="popupAttributeInfo" title="flex-basis">
            <p>Consente di specificare la dimensione principale (main size) iniziale (in valori assoluti o in percentuale) di un box.</p>
        </div>
        <div id="flex" class="popupAttributeInfo" title="flex">
            <p>Proprietà a sintassi abbreviata per dichiarare in un’unica regola i valori per <b>flex-grow</b>, <b>flex-shrink</b> e <b>flex-basis</b>. Il Default è 0 1 auto.</p>
        </div>
        <div id="align-self" class="popupAttributeInfo" title="align-self">
            <img src="images/align-self.svg">
            <p>consente di specificare per un singolo box l’allineamento sull’asse perpendicolare, superando caso per caso le impostazioni definite con la proprietà align-items.</p>
        </div>
    </section>
    <section data-background-color="rgb(255, 215, 69)"
             data-separator-notes="^Note:"
             title="Website Design Example">

        Website Design example
        <img src="images/FlexboxExampleSite.png" title="Flexbox Website">
        <br><a title="Bugs" href="https://philipwalton.github.io/solved-by-flexbox/">Solved-by-flexbox</a>

    </section>
    <section data-background-color="rgb(255, 215, 69)"
             data-separator-notes="^Note:"
             title="Important changes">

        Riflessioni utili
        <ul>
            <li>Quando dichiaro un container come flex sui figli la display property non viene più rispettata</li>
            <li>Le property float, clear e vertical-align. non hanno più effetto su un flex container</li>
            <li>La larghezza sui flex-item non sempre viene rispettata: FlexBox la ridimensiona in base al contenuto.</li>
        </ul>

        Resources
        <br><a title="Bugs" href="https://github.com/philipwalton/flexbugs">Known issues</a>
        <br><a title="Performances" href="https://developers.google.com/web/fundamentals/performance/rendering/avoid-large-complex-layouts-and-layout-thrashing#use_flexbox_over_older_layout_models">Performances</a>
    </section>
    <section data-background-color="rgb(255, 215, 69)"
             data-separator-notes="^Note:">

        <h3>Browser Support</h3>

        <br>

        <table id="browserCompatibilityTable">
            <tr>
                <th></th>
                <th><img src="images/chrome.gif"></th>
                <th><img src="images/safari.gif"></th>
                <th><img src="images/firefox.gif"></th>
                <th><img src="images/opera.gif"></th>
                <th><img src="images/edge.gif"></th>
                <th><img src="images/android.gif"></th>
                <th><img src="images/ios.gif"></th>
            </tr>
            <tr>
                <td><b>new</b></td>
                <td>21+</td>
                <td>6.1+</td>
                <td>22+</td>
                <td>12.1+</td>
                <td>11+</td>
                <td>4.4+</td>
                <td>7.1+</td>
            </tr>
            <tr>
                <td><b>tweener</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>10</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>old</b></td>
                <td>20-</td>
                <td>3.1+</td>
                <td>2-21</td>
                <td></td>
                <td></td>
                <td>2.1+</td>
                <td>3.2+</td>
            </tr>
        </table>

        <br>

        <ul id="browserCompatibilityList">
            <li><b>new</b> --> recent syntax from the specification (e.g. display: flex;)</li>
            <li><b>tweener</b> --> odd unofficial syntax from 2011 (e.g. display: flexbox;)</li>
            <li><b>old</b> --> old syntax from 2009 (e.g. display: box;)</li>
        </ul>

        <br>

        <a id="browserCompatibilityRef" href="https://css-tricks.com/autoprefixer/">Autoprefixer tool</a>

        <aside class="notes">
            Autoprefixer parses CSS files and adds vendor prefixes to CSS rules using the <b>Can I Use database</b> to determine which prefixes are needed.
            All you have to do is add it to your asset building tool (Grunt, for instance) and you can totally forget about CSS vendor prefixes. Just write regular CSS according to the latest W3C specifications without any prefixes.
            Instead of being a preprocessor – such as Sass and Stylus – <b>Autoprefixer is a postprocessor</b>.

            We can use mixin libraries with preproccesors like <b>Compass for Sass</b>
        </aside>
    </section>
    <section
            data-background-iframe="http://flexboxfroggy.com"
            data-background-interactive>
        <aside class="notes">
            <ul>
                <li>flex-direction:column-reverse;</li>
                <li>flex-wrap:wrap-reverse;</li>
                <li>align-content:space-between;
                <li>justify-content:center;</li>
            </ul>
        </aside>
    </section>
</section>

<script>
    function updateCssContainer(inputBoxId,destElemClass){
        cleanCss(destElemClass);
        addCss(inputBoxId,destElemClass);
    }

    function cleanCss(destElemClass){
        $('.'+destElemClass).removeAttr('style');
    }

    function addCss(inputBoxId,destElemClass){
        var lines = $('#'+inputBoxId).val().split('\n');
        $.each(lines, function(index, item) {
            item = item.replace(/\s/g, '');
            var elements = item.split(":");
            if(elements.length==2){
                var name = elements[0];
                var value = elements[1].replace(/;/g, '');
                $('.'+destElemClass).css( name, value );
            }
        });
    }

    function showAttributesInfo(name){
        $( '#'+name ).dialog({
            modal: true,
            buttons: {
                Ok: function() {
                    $( this ).dialog( "close" );
                }
            }
        });
    }

    function toggleBox4(){
        $( ".purple" ).toggle("slow");
    }

</script>
