<section>
    <section>
        <img class="plain" src="images/CQRS_Title.png" alt="From C to Q: one Event at a time"/>
        <aside class="notes">
            C'era una volta
        </aside>
    </section>
    <section>
        <img class="plain" src="images/CQRS_OnceUponATime.png"/>
    </section>
    <section>
        <img class="plain" src="images/CQRS_OnceUponATime_Scaling_1.png"/>
        <span class="fragment"><img class="plain" src="images/CQRS_OnceUponATime_Scaling_2.png"/></span>
    </section>
    <section>
        <img class="plain" src="images/CQRS_Async_FirstAttempt_1.png"/>
        <span class="fragment"><img class="plain" style="margin: 0;" src="images/CQRS_Async_FirstAttempt_2.png"/></span>
        <span class="fragment"><img class="plain" style="margin: 0;" src="images/CQRS_Async_FirstAttempt_3.png"/></span>
        <span class="fragment"><img class="plain" style="margin: 0;" src="images/CQRS_Async_FirstAttempt_4.png"/></span>
    </section>
    <section>
        <img class="plain" src="images/CQRS_CommandSource_1.png"/>
        <span class="fragment"><img class="plain" style="margin: 0;" src="images/CQRS_CommandSource_2.png"/></span>
        <span class="fragment"><img class="plain" style="margin: 0;" src="images/CQRS_CommandSource_3.png"/></span>
        <aside class="notes">
            Qualcuno vede un problema?
        </aside>
    </section>
    <section>
        <img class="plain" src="images/CQRS_Command.png"/>
    </section>
    <section>
        <img class="plain" src="images/CQRS_Event.png"/>
    </section>
    <section>
        <img class="plain" src="images/CQRS_EventSourcing.png"/>
        <aside class="notes">
            Come può funzionare il command processor?
        </aside>
    </section>
    <section>
        <img class="plain" src="images/CQRS_CommandProcessor.png"/>
    </section>
    <section>
        <img class="plain" src="images/CQRS_CommandProcessor_2.png"/>
        <aside class="notes">
            Entrambi gli approcci possono creare eventi errati
        </aside>
    </section>
    <section>
        <img class="plain" src="images/CQRS_Errors.png"/>
    </section>
    <section>
        <img class="plain" src="images/CQRS_Saga.png"/>
    </section>
    <section>
        <img class="plain" src="images/CQRS_Advantage_1.png"/>
        <img class="plain" style="margin-top: 30px;" src="images/CQRS_Advantage_2.png"/>
    </section>
    <section>
        <img class="plain" src="images/CQRS_Advantage_3.png"/>
        <img class="plain" src="images/CQRS_Advantage_4.png"/>
    </section>
    <section>
        <img class="plain" src="images/CQRS_MissionAccomplished.png"/>
    </section>
    <section>
        <img class="plain" src="images/CQRS_WhatAboutQueries.png"/>
        <aside class="notes">
            Non posso usare il sistema che scrive anche per leggere!
        </aside>
    </section>
    <section>
        <img class="plain" src="images/CQRS_CQRS.png"/>
        <aside class="notes">
            Non è nulla di nuovo, pensiamo ai data-warehouse
        </aside>
    </section>
    <section>
        <img class="plain" src="images/CQRS_Separation.png"/>
        <aside class="notes">
            Varie strategie: snapshot, viste...
        </aside>
    </section>
    <section>
        <img class="plain" src="images/CQRS_MultipleReadModels.png"/>
    </section>
    <section>
        <img class="plain" src="images/CQRS_MultipleReadModels_2.png"/>
    </section>
    <section>
        <img class="plain" src="images/CQRS_Cons.png"/>
        <aside class="notes">
            Confucio! Non è una panacea
        </aside>
    </section>
    <section>
        <img class="plain" src="images/CQRS_Pro.png"/>
    </section>
    <section>
        <img class="plain" src="images/CQRS_End.png"/>
    </section>
</section>
